body {
	background-color: #000;
	color: white;
}

div { display: inline-block; }

.circle {
	background-color: #222;
	border-radius: 50%;
	margin-top: 1px; 
	margin-left: 1px; 
}

button {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;

	margin-top: 10px;
}

button.disabled, button[disabled] {
	cursor: default;
	background-image: none;
	background-color: #e6e6e6;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

button.big {
	width: 150px;
	height: 75px;
	font-size: 20px;
}

/* On colours */
.on { background-color: white; }
.score .on { background-color: orange; }
#timer .on { background-color: red;}

#controls { 
	margin-top: 10px; 
	width: 100%;
}

#controls table {
	min-width: 100%;
}

#controls table tr td:last-child {
	width: 60%;
}

input {
	margin-right: 5px;
}

@media only screen and (max-width: 1279px) {
	/*body { width: 1024; }*/

	#ScoreboardContainer { width: 1024px; }
	
	/* Width of 1 circle div = 9 + 1 */
	.circle {
		width: 9px;
		height: 9px;
	}

	/* Dividers */
	.divider { width: 10px; }					/* 9 + 1  */
	.divider_two { width: 20px; }				/* 10 x 2 */
	.divider_three { width: 30px; }				/* 10 x 3 */
	.divider_four { width: 40px; }				/* 10 x 4 */
	.divider_foul_middle { width: 150px; }		/* 10 x 15 */
	.divider_possession_middle { width: 30px; }	/* 10 x 3 */
	.shotclock_empty { width: 80px; }			/* 10 x 8 */

	.full_empty_row { width : 1010px; }			/* 10 * 101 */

	.team_name, .score_section, .timeout_section { width: 370px; } /* 10 x 37 */
	.section, .number_small { width: 50px; }	/* 10 x 5 */
	.number_large {	width: 150px; }				/* 10 x 15 */

	.timeouts { width: 50px; }					/* 10 x 5 */

	#center { width: 270px; }					/* 10 x 27 */
	.timer_empty { width: 320px; }				/* 10 x 32 */
	.possession { width: 110px; }				/* 10 x 11 */
	.foul_word { width: 50px; }					/* 10 x 5 */

	/* Game controls */
	.game_controls { width: 262px; }		/* 10 x 27 - 8 */

	/* Home and Away controls */
	.team_control { width: 362px; }			/* 10 x 37 - 8 */
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
	/*body { width: 1280px; }*/

	#ScoreboardContainer { width: 1212px; }

	/* Width of 1 circle div = 11 + 1 */
	.circle {
		width: 11px;
		height: 11px;
	}

	/* Dividers */
	.divider { width: 12px; }					/* 11 + 1  */
	.divider_two { width: 24px; }				/* 12 x 2 */
	.divider_three { width: 36px; }				/* 12 x 3 */
	.divider_four { width: 48px; }				/* 12 x 4 */
	.divider_foul_middle { width: 180px; }		/* 12 x 15 */
	.divider_possession_middle { width: 36px; }	/* 12 x 3 */
	.shotclock_empty { width: 96px; }			/* 12 x 8 */

	.full_empty_row { width : 1212px; }			/* 12 * 101 */

	.team_name, .score_section, .timeout_section { width: 444px; } /* 12 x 37 */
	.section, .number_small { width: 60px; }	/* 12 x 5 */
	.number_large {	width: 180px; }				/* 12 x 15 */

	.timeouts { width: 60px; }					/* 12 x 5 */

	#center { width: 324px; }				/* 12 x 27 */
	.timer_empty { width: 384px; }
	.possession { width: 132px; }			/* 12 x 11 */
	.foul_word { width: 60px; }				/* 12 x 5 */

	/* Game controls */
	.game_controls { width: 316px; }		/* 12 x 27 - 8 */

	/* Home and Away controls */
	.team_control { width: 436px; }			/* 12 x 37 - 8 */
}

@media only screen and (min-width: 1440px) and (max-width: 1529px) {
	#ScoreboardContainer { width: 1420px; }

	/* Width of 1 circle div = 13 + 1 */
	.circle {
		width: 13px;
		height: 13px;
	}

	/* Dividers */
	.divider { width: 14px; }					/* 14 + 1  */
	.divider_two { width: 28px; }				/* 14 x 2 */
	.divider_three { width: 42px; }				/* 14 x 3 */
	.divider_four { width: 56px; }				/* 14 x 4 */

	.middle_blank { width: 378px; }
	.score_section { width: 518px; } 			/* 14 x 37 */
	.section, .number_small { width: 70px; }	/* 14 x 5 */
	.number_large {	width: 210px; }				/* 14 x 15 */
}

@media only screen and (min-width: 1530px) {
	#ScoreboardContainer { width: 1529px; }

	/* Width of 1 circle div = 13 + 1 */
	.circle {
		width: 14px;
		height: 14px;
	}

	/* Dividers */
	.divider { width: 15px; }					/* 14 + 1  */
	.divider_two { width: 30px; }				/* 14 x 2 */
	.divider_three { width: 45px; }				/* 14 x 3 */
	.divider_four { width: 60px; }				/* 14 x 4 */

	.middle_blank { width: 405px; }
	.score_section { width: 555px; } 			/* 14 x 37 */
	.section, .number_small { width: 75px; }	/* 14 x 5 */
	.number_large {	width: 225px; }				/* 14 x 15 */
}